span.field-validation-error {
  display: block;
  text-align: left;
  color: red;
  padding-top: .5rem;
}

.form-control.input-validation-error {
  border-bottom: 1px solid red;
}

.form-control.input-validation-error:focus {
  border-bottom-color: transparent;
}

.form-control.error {
  border-bottom: 1px solid red;
}

.form-control.error:focus {
  border-bottom-color: transparent;
}

.error {
  color: red;
}
